@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@font-face {
  font-family: "Lovin Summer Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lovin Summer Regular"),
    url("./../assets/fonts/LovinSummer-MVWMn.woff") format("woff");
}
